import /init.microtrust.rc

on init
    write /sys/class/backlight/panel0-backlight/brightness 200

on fs
    wait /dev/block/platform/0.soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/0.soc/${ro.boot.bootdevice} /dev/block/bootdevice

     chown root system /mnt/vendor/persist
     chmod 0771 /mnt/vendor/persist
     restorecon_recursive /mnt/vendor/persist
     mkdir /mnt/vendor/persist/data 0700 system system
     
on post-fs
    start boot-hal-1-1

on boot
    start health-hal-2-1
    setprop sys.usb.config adb

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on property:ro.crypto.state=encrypted && property:hwservicemanager.ready=true
    start teei_daemon

on property:vendor.sys.listeners.registered=true
    start gatekeeper-1-0
    start keymaster-4-0-beanpod

on property:twrp.all.users.decrypted=true
    stop teei_daemon
    stop gatekeeper-1-0
    stop keymaster-4-0-beanpod

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-0-beanpod /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0

service soter-1-0 /vendor/bin/hw/vendor.microtrust.hardware.soter@1.0-service
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/lib64
    disabled
    seclabel u:r:recovery:s0
